#body {
    width:1024px;
    height:768px;
    left:null;
    top:null;
    opacity:1;
    margin-left:auto;
    margin-top:0px;
    margin-right:auto;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    background-image:url('rgba(255,255,255,1)');
    background-repeat:repeat;
    background-size:contain;
    overflow:visible;
    position:relative;
}
#Vertical_Lines {
    width:621px;
    height:480px;
    left:161px;
    top:93px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    overflow:visible;
}
#Box {

    width:683px;
    height:480px;
    left:-10px;
    top:-1px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(194,255,250,1);
    border-color:rgba(0,136,204,1);
    border-style:solid;
    border-width:2px;
    border-bottom-left-radius:15px;
    -webkit-border-bottom-left-radius:15px;
    -moz-border-bottom-left-radius:15px;
    -ms-border-bottom-left-radius:15px;
    -o-border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    -webkit-border-bottom-right-radius:15px;
    -moz-border-bottom-right-radius:15px;
    -ms-border-bottom-right-radius:15px;
    -o-border-bottom-right-radius:15px;
    border-top-left-radius:15px;
    -webkit-border-top-left-radius:15px;
    -moz-border-top-left-radius:15px;
    -ms-border-top-left-radius:15px;
    -o-border-top-left-radius:15px;
    border-top-right-radius:15px;
    -webkit-border-top-right-radius:15px;
    -moz-border-top-right-radius:15px;
    -ms-border-top-right-radius:15px;
    -o-border-top-right-radius:15px;
    overflow:visible;
}
#pcb {
    position: absolute;
    width:147px;
    height:30px;
    left:82px;
    top: 2%;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:2px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    border-color:#ccc;
    border-style:solid;
    background:rgba(5,161,166,1);
    font-family:Times New Roman;
    font-size:17px;
    color:rgba(255,255,255,1);
    line-height:0px;
}
#board {
    position: absolute;
    width:147px;
    height:30px;
    left:82px;
    top:59px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:2px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    border-color:#ccc;
    border-style:solid;
    background:rgba(5,161,166,1);
    font-family:Times New Roman;
    font-size:17px;
    color:rgba(255,255,255,1);
    line-height:0px;
}
#pcbtype {
    position:absolute;
    width:219px;
    height:32px;
    left:249px;
    top:12px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    font-family:Times New Roman;
    font-size:17px;
    color:#515151;
    overflow:visible;
}
#pcb_icon {
    position:absolute;
    width:40px;
    height:40px;
    left:474px;
    top:8px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    overflow:hidden;
    background-image:url("https://ninjastorage.blob.core.windows.net/companyfiles/16741854/cb9a7747-f4b8-40e5-a663-5bdf92ca1f88.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:50% 50%;
}
#Board_ID {
    position:absolute;
    width:220px;
    height:30px;
    left:248px;
    top:59px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:#fff;
    border-color:#686868;
    border-style:solid;
    font-family:Times New Roman;
    font-size:17px;
    color:#515151;
    line-height:30px;
}
#scane_image {
    position:absolute;
    width:40px;
    height:40px;
    left:474px;
    top:54px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    overflow:hidden;
    background-image:url("https://ninjastorage.blob.core.windows.net/companyfiles/16741854/11f39255-9407-4295-9030-76c180d22c70.png");
    background-repeat:no-repeat;
    background-size:contain;
    background-position:50% 50%;
}
#start {
    position:absolute;
    width:136px;
    height:30px;
    left:134px;
    top:109px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:2px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    border-color:#ccc;
    border-style:solid;
    background:rgba(27,93,191,1);
    font-family:Times New Roman;
    font-size:17px;
    color:rgba(255,255,255,1);
    line-height:0px;
}
#clear {
    position:absolute;
    width:136px;
    height:30px;
    left:315px;
    top:109px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:2px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    border-color:#ccc;
    border-style:solid;
    background:rgba(27,93,191,1);
    font-family:Times New Roman;
    font-size:17px;
    color:rgba(255,255,255,1);
    line-height:0px;
}
#success {
    position:absolute;
    width:107px;
    height:30px;
    left:119px;
    top:430px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:2px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    border-color:#ccc;
    border-style:solid;
    background:rgba(5,161,166,1);
    font-family:Times New Roman;
    font-size:17px;
    color:rgba(255,255,255,1);
    line-height:0px;
}

#fail {
    position:absolute;
    width:107px;
    height:30px;
    left:317px;
    top:430px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:2px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    border-color:#ccc;
    border-style:solid;
    background:rgba(5,161,166,1);
    font-family:Times New Roman;
    font-size:17px;
    color:rgba(255,255,255,1);
    line-height:0px;
}
#success_box {
    position:absolute;
    width:40px;
    height:30px;
    left:243px;
    top:430px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:#fff;
    border-color:#686868;
    border-style:solid;
    font-family:Times New Roman;
    font-size:17px;
    color:#515151;
    line-height:30px;
}
#fail_box {
    position:absolute;
    width:40px;
    height:30px;
    left:448px;
    top:430px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:4px;
    -webkit-border-bottom-left-radius:4px;
    -moz-border-bottom-left-radius:4px;
    -ms-border-bottom-left-radius:4px;
    -o-border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    -webkit-border-bottom-right-radius:4px;
    -moz-border-bottom-right-radius:4px;
    -ms-border-bottom-right-radius:4px;
    -o-border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    -webkit-border-top-left-radius:4px;
    -moz-border-top-left-radius:4px;
    -ms-border-top-left-radius:4px;
    -o-border-top-left-radius:4px;
    border-top-right-radius:4px;
    -webkit-border-top-right-radius:4px;
    -moz-border-top-right-radius:4px;
    -ms-border-top-right-radius:4px;
    -o-border-top-right-radius:4px;
    overflow:hidden;
    background:#fff;
    border-color:#686868;
    border-style:solid;
    font-family:Times New Roman;
    font-size:17px;
    color:#515151;
    line-height:30px;
}
#table {
    position:absolute;
    width:600px;
    height:187px;
    left:15px;
    top:175px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    overflow:visible;
}
#td_TID {
    position:absolute;
    width:54px;
    height:47px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    border-top-color:#000000;
    border-top-style:solid;
    border-bottom-color:#000000;
    border-bottom-style:solid;
    border-left-color:#000000;
    border-left-style:solid;
    border-right-color:#000000;
    border-right-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    overflow:hidden;
}
#div_TID {
    position:absolute;
    width:68px;
    height:47px;
    left:0px;
    top:0px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    text-align:center;
    font-family:Times New Roman;
    font-size:12px;
    color:#515151;
    overflow:visible;
    line-height:12px;
    white-space:nowrap;
}
#span_TID {
    position:absolute;
    text-align:center;
    left:0px;
    width:68px;
    margin:0px;
    font-size:12px;
    line-height:12px;
    top:17px;
}
#td_TESTCASE {
    position:relative;
    width:346px;
    height:47px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    border-top-color:#000000;
    border-top-style:solid;
    border-bottom-color:#000000;
    border-bottom-style:solid;
    border-left-color:#000000;
    border-left-style:solid;
    border-right-color:#000000;
    border-right-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    overflow:hidden;
}
#div_TESTCASE {
    position:relative;
    width:346px;
    height:47px;
    left: 0px;
    top:0px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    text-align:center;
    font-family:Times New Roman;
    font-size:12px;
    color:#515151;
    overflow:visible;
    line-height:12px;
    white-space:nowrap;
}
#span_TESTCASE {
    position:relative;
    text-align:center;
    left:0px;
    width:346px;
    margin:0px;
    font-size:12px;
    line-height:12px;
    top:17px;
}
#td_STATUS {
    position:absolute;
    width:200px;
    height:47px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    border-top-color:rgba(81,81,81,1);
    border-top-style:solid;
    border-bottom-color:rgba(81,81,81,1);
    border-bottom-style:solid;
    border-left-color:rgba(81,81,81,1);
    border-left-style:solid;
    border-right-color:rgba(81,81,81,1);
    border-right-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    overflow:hidden;
}
#div_STATUS {
    position:relative;
    width:200px;
    height:47px;
    left:0px;
    top:0px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    text-align:center;
    font-family:Times New Roman;
    font-size:12px;
    color:#515151;
    overflow:visible;
    line-height:12px;
    white-space:nowrap;
}
#span_STATUS {
    position:relative;
    text-align:center;
    left:0px;
    width:200px;
    margin:0px;
    font-size:12px;
    line-height:12px;
    top:17px;
}
#td_row1_col1
{
    position:absolute;
    width:54px;
    height:47px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    border-top-color:#000000;
    border-top-style:solid;
    border-bottom-color:rgba(81,81,81,1);
    border-bottom-style:solid;
    border-left-color:#000000;
    border-left-style:solid;
    border-right-color:#000000;
    border-right-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    overflow:hidden;

}

#td_row1_col2
{

    width:346px;
    height:47px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    border-top-color:#000000;
    border-top-style:solid;
    border-bottom-color:rgba(81,81,81,1);
    border-bottom-style:solid;
    border-left-color:#000000;
    border-left-style:solid;
    border-right-color:#000000;
    border-right-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    overflow:hidden;

}

#td_row1_col3
{
    position:absolute;
    width:200px;
    height:47px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    border-top-color:rgba(81,81,81,1);
    border-top-style:solid;
    border-bottom-color:rgba(81,81,81,1);
    border-bottom-style:solid;
    border-left-color:rgba(81,81,81,1);
    border-left-style:solid;
    border-right-color:rgba(81,81,81,1);
    border-right-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    overflow:hidden;

}

#td_row2_col1
{
    position:absolute;
    width:54px;
    height:47px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    border-top-color:#000000;
    border-top-style:solid;
    border-bottom-color:#000000;
    border-bottom-style:solid;
    border-left-color:#000000;
    border-left-style:solid;
    border-right-color:rgba(81,81,81,1);
    border-right-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    overflow:visible;

}

#td_row2_col2
{
    width:346px;
    height:47px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    border-top-color:#000000;
    border-top-style:solid;
    border-bottom-color:#000000;
    border-bottom-style:solid;
    border-left-color:rgba(81,81,81,1);
    border-left-style:solid;
    border-right-color:rgba(81,81,81,1);
    border-right-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    overflow:visible;

}

#td_row2_col3
{
    position:absolute;
    width:200px;
    height:47px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    border-top-color:rgba(81,81,81,1);
    border-top-style:solid;
    border-bottom-color:rgba(81,81,81,1);
    border-bottom-style:solid;
    border-left-color:rgba(81,81,81,1);
    border-left-style:solid;
    border-right-color:rgba(81,81,81,1);
    border-right-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    overflow:visible;

}

#td_row3_col1
{

    width:54px;
    height:47px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    border-top-color:#000000;
    border-top-style:solid;
    border-bottom-color:#000000;
    border-bottom-style:solid;
    border-left-color:#000000;
    border-left-style:solid;
    border-right-color:rgba(81,81,81,1);
    border-right-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    overflow:hidden;

}

#td_row3_col2
{
    width:346px;
    height:47px;
    opacity:1;
    margin-left:0px;
    margin-top:0px;
    margin-right:0px;
    margin-bottom:0px;
    background:rgba(255,255,255,1);
    border-width:1px;
    padding-left:0px;
    padding-top:0px;
    padding-right:0px;
    padding-bottom:0px;
    border-bottom-left-radius:0px;
    -webkit-border-bottom-left-radius:0px;
    -moz-border-bottom-left-radius:0px;
    -ms-border-bottom-left-radius:0px;
    -o-border-bottom-left-radius:0px;
    border-bottom-right-radius:0px;
    -webkit-border-bottom-right-radius:0px;
    -moz-border-bottom-right-radius:0px;
    -ms-border-bottom-right-radius:0px;
    -o-border-bottom-right-radius:0px;
    border-top-left-radius:0px;
    -webkit-border-top-left-radius:0px;
    -moz-border-top-left-radius:0px;
    -ms-border-top-left-radius:0px;
    -o-border-top-left-radius:0px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-top-right-radius:0px;
    -ms-border-top-right-radius:0px;
    -o-border-top-right-radius:0px;
    border-top-color:#000000;
    border-top-style:solid;
    border-bottom-color:#000000;
    border-bottom-style:solid;
    border-left-color:rgba(81,81,81,1);
    border-left-style:solid;
    border-right-color:rgba(81,81,81,1);
    border-right-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-left-width:1px;
    border-right-width:1px;
    overflow:hidden;

}

#td_row3_col3 {
    position:absolute;
    width: 200px;
    height: 47px;
    opacity: 1;
    margin-left: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    background: rgba(255, 255, 255, 1);
    border-width: 1px;
    padding-left: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-bottom-left-radius: 0px;
    -webkit-border-bottom-left-radius: 0px;
    -moz-border-bottom-left-radius: 0px;
    -ms-border-bottom-left-radius: 0px;
    -o-border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-bottom-right-radius: 0px;
    -ms-border-bottom-right-radius: 0px;
    -o-border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    -webkit-border-top-left-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -ms-border-top-left-radius: 0px;
    -o-border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-right-radius: 0px;
    -ms-border-top-right-radius: 0px;
    -o-border-top-right-radius: 0px;
    border-top-color: rgba(81, 81, 81, 1);
    border-top-style: solid;
    border-bottom-color: rgba(81, 81, 81, 1);
    border-bottom-style: solid;
    border-left-color: rgba(81, 81, 81, 1);
    border-left-style: solid;
    border-right-color: rgba(81, 81, 81, 1);
    border-right-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    overflow: hidden
}